:root {
  --background-light: #ffffff;
  --background-dark: #212121;
  --list-item-light: #f8f9fa; /* Light background for list items */
  --list-item-dark: #343a40; /* Dark background for list items */
  --form-text-light: #000000; /* Black text for light mode */
  --form-background-dark: #343a40; /* Custom background for dark mode */
  --form-text-dark: #ffffff; /* White text for dark mode */
}

[data-theme="dark"] {
  --background-color: var(--background-dark);
  --list-item-color: var(--list-item-dark);
  --form-background-color: var(--form-background-dark);
  --form-text-color: var(--form-text-dark);
}

[data-theme="light"] {
  --background-color: var(--background-light);
  --list-item-color: var(--list-item-light);
  --form-background-color: var(--form-background-light);
  --form-text-color: var(--form-text-light);
}

/* Apply the background color to list items */
ul.list-group .list-group-item {
  background-color: var(--list-item-color);
  padding: 10px; /* Optional: Adds padding for better spacing */
  margin-bottom: 5px; /* Optional: Adds space between list items */
  border-radius: 5px; /* Optional: Adds rounded corners to the list items */
}

/* Form control styles */
.form-control {
  background-color: var(--form-background-color);
  color: var(--form-text-color);
}

/* No border for textarea in dark mode */
[data-theme="dark"] textarea.form-control,
textarea.form-control:focus {
  border: none !important;
  background-color: var(--form-background-color);
  color: var(--form-text-color);
}

/* Fade in effects for landing image */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
  border-radius: 5px;
  visibility: visible;
}

.d-block {
  display: block;
}

.bi {
  margin-right: 30px;
}

/* Back to Top button design */
#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  width: 50px;
  height: 50px;
  background-color: #007bff; /* Bootstrap primary color */
  color: #fff;
  text-align: center;
  font-size: 24px;
  border-radius: 50%;
  z-index: 1000;
  cursor: pointer;
  transition: background-color 0.3s, opacity 0.3s;
  text-decoration: none; /* Disable underline */
}

#back-to-top.show {
  display: block;
}

#back-to-top:hover {
  background-color: #0056b3; /* Darker shade of Bootstrap primary color */
  text-decoration: none !important; /* Ensure underline is disabled on hover */
}

.timeline-item .content .timeline-image {
  height: 100px;
  width: 100px;
}