<link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}" />

<div class="col mt-4">
  <div class="timeline-body bg-themed">
    {% for event in site.data.work_experiences.work_experiences %}
    <div class="timeline-item">
      <div class="content d-flex flex-md-row flex-column justify-content-center align-items-center">
        <img src="{{ event.image }}" alt="{{ event.title }}" class="timeline-image rounded-circle px-1 mb-10">
        <div class="">
          <h3>{{ event.title }}</h3>
          <p class="date">{{ event.from }} - {{ event.to }}</p>
          <p>{{ event.description | newline_to_br }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>